In [3]:
import pandas as pd
import numpy as np

In [4]:
df_mchas = pd.read_csv(r'C:\projects\MashChas\mash_chas\mash_chas.csv', sep=';')

In [5]:
df_mchas['period'] = pd.to_datetime(df_mchas['period'], dayfirst=True)

In [6]:
df_mchas['mnth'] = df_mchas['period'].dt.month_name()
df_mchas.tail()

,period,name,doljnost,type_ts,priznak,auto,time_work_putevoy,probeg,gsm_fact,Norma_gsm,...,time_work_speed,gsm_money,rent,salary_time,salary_probeg,remont,cost_time_pl,cost_avgspeed,cost_fuel,mnth
2952,2024-08-01,Щербинин Сергей Александрович,Машинист электростанции передвижной 7 разряда,ДЭС,М/ч,125070 AJ Power AJ550,400.0,477.0,5481.0,31.1,...,477.000000,2.084011e+06,0.00,177028.7900,177028.79,0.000000,5652.599295,4740.125195,12829.471850,August
2953,2024-08-01,Якутка Владимир Петрович,Водитель автомобиля 5 разряда,Автофургоны,Расстояние,117195 КамАЗ-43118-23027-50 АФ-57435С-02 Р467У...,279.0,569.0,200.0,6.2,...,15.378378,1.543140e+04,0.00,72561.2965,11110.85,69824.130000,565.651717,6266.355287,4892.321704,August
2954,2024-08-01,Якутка Владимир Петрович,Водитель автомобиля 5 разряда,Автоцистерны,Расстояние,118607 УРАЛ 5493Т Р466КС198,210.0,406.0,173.0,6.1,...,10.972973,1.334816e+04,0.00,53902.6774,7927.96,0.000000,320.242098,1938.957049,2371.272417,August
2955,2024-08-01,Якутка Владимир Петрович,Водитель автомобиля 5 разряда,Легковой а/м,Расстояние,"87027 MITSUBISHI L200 2,5 С563РС198",60.0,1006.0,82.0,2.4,...,27.189189,6.326875e+03,0.00,14512.2593,19644.15,4230.443333,417.826295,1110.789594,733.743738,August
2956,2024-08-01,Якутка Владимир Петрович,Водитель автомобиля 5 разряда,Легковой а/м,Расстояние,"87028 MITSUBISHI L200 2,5 С792РС198",259.0,8636.0,886.0,2.4,...,233.405405,6.836111e+04,18759.62,66341.7568,168635.03,148087.360000,1164.285137,1730.221813,816.839324,August

In [7]:
df_remont = pd.read_csv(r'C:\projects\MashChas\mash_chas\remont_mnth.csv', sep=';')
df_remont.head()

,period,auto,sum_remont,Cnt_at_mnth
0,01.01.2024,117022 УРАЛ 47441С М264ХЕ199,30391.40,2
1,01.01.2024,117023 УРАЛ 47441С М364ХЕ199,97935.69,0
2,01.01.2024,117031 УРАЛ 47441С О036ВВ198,30358.00,2
3,01.01.2024,117188 ГАЗ-320273 278819 М718ХЕ198,49315.90,1
4,01.01.2024,117191 КамАЗ-43118-23027-50 АФ-57435С-02 Р276С...,12436.05,2

In [8]:
df_remont['period'] = pd.to_datetime(df_remont['period'], dayfirst=True)

In [9]:
df_remont_0 = df_remont[df_remont['Cnt_at_mnth'] == 0]

In [10]:
df_remont_0['mnth'] = df_remont_0['period'].dt.month_name()

C:\Users\Михаил\AppData\Local\Temp\ipykernel_13396\2745857599.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_remont_0['mnth'] = df_remont_0['period'].dt.month_name()

In [11]:
df_remont_0

,period,auto,sum_remont,Cnt_at_mnth,mnth
1,2024-01-01,117023 УРАЛ 47441С М364ХЕ199,97935.69,0,January
20,2024-01-01,"86995 MITSUBISHI L200 2,5 Р509РК198",499129.18,0,January
27,2024-01-01,87011 Toyota Hiace Р946УР198,36666.67,0,January
35,2024-01-01,АО,97951.10,0,January
54,2024-02-01,123244 ЭД100-Т400-50-1РН-G1,302666.67,0,February
...,...,...,...,...,...
663,2024-08-01,160096 МДН 86.26-010,16000.00,0,August
664,2024-08-01,АО,5444.76,0,August
665,2024-08-01,АО,15000.00,0,August
666,2024-08-01,84354 УАЗ-390945 (Фермер) г/н А990ТХ89,1118.00,0,August
667,2024-08-01,117040 УРАЛ 47441С г/н К539НР197,2200.00,0,August

In [12]:
df_remont_0.groupby(['auto']).agg({'sum_remont': sum})

C:\Users\Михаил\AppData\Local\Temp\ipykernel_13396\3889102074.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_remont_0.groupby(['auto']).agg({'sum_remont': sum})

                                                    sum_remont
auto
106018 УРАЛ 5942 FE ППУА 1600/100 О352ВТ198           93794.20
106041 УРАЛ 5942 FE ППУА 1600/100 О909ВС198           87662.56
107080 КамАЗ-65115 МКЗ-4804-02 (мусоровоз) М072СК7    53735.84
107160 КамАЗ МК-4546-08 Р906УО198 ТДУ                167127.59
107163 КамАЗ КО-449 Р931ТР198                        351600.16
...                                                        ...
Автомомобиль Toyota Camry VIN:XW7BF4FK50S044192...     6300.00
КАМАЗ 65117-N3  X1F651173D0000343 Р923ТС98             3190.00
УРАЛ 4320 Фургон грузовой изотермический 47441С...    33984.33
Штабелер самоходный LEMA SRL-1225 VIN:XEA212801...     4583.33
Электропогрузчик Ричтрак LEMA FRB-20105  VIN:от...     9550.00

[98 rows x 1 columns]

*Машчас покрутить*

In [13]:
our_cols = ['period', 'auto', 'type_ts', 'time_work_putevoy', 'probeg', 'gsm_fact', 'time_work_fuel', 'time_work_speed', 'rent', 'salary_time', 'salary_probeg', 'remont', 'cost_time_pl', 'cost_avgspeed', 'cost_fuel']

In [14]:
df = df_mchas[our_cols]
df.head()

,period,auto,type_ts,time_work_putevoy,probeg,gsm_fact,time_work_fuel,time_work_speed,rent,salary_time,salary_probeg,remont,cost_time_pl,cost_avgspeed,cost_fuel
0,2024-01-01,84674 УАЗ-220695-04 О057ВУ198,Легковой а/м,290.0,5597.0,863.0,287.666667,151.270270,0.000000,205518.540,205518.54,117462.5,1343.336353,2575.308035,1354.232477
1,2024-01-01,90721 SHACMAN SX32586V385 SX32 Р648УС198,Самосвалы,70.0,4.0,22.0,2.972973,1.000000,160850.533300,0.000,0.00,0.0,2322.114109,162547.987600,54675.232200
2,2024-01-01,117114 УРАЛ 47441В О022ЕА198,Автофургоны,50.0,109.0,70.0,11.290323,2.945946,456.323077,41182.660,41182.66,0.0,940.799480,15967.697600,4166.397698
3,2024-01-01,117189 ГАЗ-320273 278819 М740ХЕ198,Автофургоны,80.0,1428.0,217.0,35.000000,38.594595,44098.360000,216598.232,212427.05,0.0,3467.995798,7080.485875,7926.847539
4,2024-01-01,"87028 MITSUBISHI L200 2,5 С792РС198",Легковой а/м,10.0,208.0,25.0,10.416667,5.621622,18759.620000,26770.568,30941.75,8382.5,5584.161333,10675.353020,5360.794880

In [15]:
df_lst = list(df['auto'])

In [16]:
df.describe()

,period,time_work_putevoy,probeg,gsm_fact,time_work_fuel,time_work_speed,rent,salary_time,salary_probeg,remont,cost_time_pl,cost_avgspeed,cost_fuel
count,2957,2950.000000,2957.000000,2957.000000,2957.000000,2957.000000,2957.000000,2957.000000,2957.000000,2.957000e+03,2957.000000,2.957000e+03,2957.000000
mean,2024-04-21 16:04:13.229624576,138.359078,1110.628483,782.216256,109.918952,59.624300,23537.393073,85439.218691,84818.155360,1.616931e+04,3053.080140,1.480606e+04,7775.281004
min,2024-01-01 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,2024-03-01 00:00:00,30.000000,74.000000,68.000000,12.419355,4.270270,0.000000,20009.246000,13315.900000,0.000000e+00,844.371960,2.435772e+03,1240.059357
50%,2024-05-01 00:00:00,100.000000,356.000000,255.000000,46.557377,18.864865,0.000000,64190.440000,60932.450000,0.000000e+00,1306.249438,4.373488e+03,2244.731104
75%,2024-07-01 00:00:00,221.000000,1410.000000,701.000000,132.916667,66.513514,25776.383330,140169.276900,148994.610000,5.335840e+03,2303.186382,1.166797e+04,4647.067511
max,2024-08-01 00:00:00,695.000000,13018.000000,42416.000000,12475.294120,744.000000,969755.625000,367921.930000,367921.930000,1.357661e+06,284009.207600,1.211033e+06,737790.402500
std,NaN,132.156345,1684.320818,2161.161916,275.927719,113.191122,47101.638362,74796.792510,78529.792741,7.101515e+04,9909.592843,4.065422e+04,31607.973121

In [17]:
df_agg = df.groupby(['period', 'auto']).agg({
        'time_work_putevoy': sum,
        'probeg': sum,
        'gsm_fact': sum,
        'time_work_fuel': sum,
        'time_work_speed': sum,
        'rent': sum,
        'salary_time': sum,
        'salary_probeg': sum,
        'remont': sum,
        'cost_time_pl': sum,
        'cost_fuel': sum,
        'cost_avgspeed': sum
        }
        ).reset_index()

C:\Users\Михаил\AppData\Local\Temp\ipykernel_13396\1692610950.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_agg = df.groupby(['period', 'auto']).agg({
C:\Users\Михаил\AppData\Local\Temp\ipykernel_13396\1692610950.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_agg = df.groupby(['period', 'auto']).agg({

In [18]:
df_agg

,period,auto,time_work_putevoy,probeg,gsm_fact,time_work_fuel,time_work_speed,rent,salary_time,salary_probeg,remont,cost_time_pl,cost_fuel,cost_avgspeed
0,2024-01-01,106018 УРАЛ 5942 FE ППУА 1600/100 О352ВТ198,80.0,0.0,48.0,4.705882,0.000000,48672.00000,13821.4167,0.00,0.00,827.461917,14066.852580,0.000000
1,2024-01-01,106247 УРАЛ 7098Т2 ППУ 1600/100 Р227РТ198,190.0,0.0,419.0,41.078431,0.000000,96291.74167,128296.1991,0.00,0.00,2797.004931,17700.494796,0.000000
2,2024-01-01,107159 КамАЗ МК-4546-08 Р641УУ198,300.0,943.0,672.0,120.000000,25.486486,116520.10000,219380.9740,206844.34,0.00,3039.439571,8419.029684,32152.114330
3,2024-01-01,107160 КамАЗ МК-4546-08 Р906УО198,310.0,1381.0,1030.0,183.928571,37.324324,116520.10000,259147.3800,259147.38,0.00,3955.190604,7694.503477,30028.230452
4,2024-01-01,107163 КамАЗ КО-449 Р931ТР198,310.0,837.0,384.0,68.571429,22.621622,96106.70833,205519.2000,205519.20,0.00,1068.561940,4830.790437,14643.256220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1600,2024-08-01,90721 SHACMAN SX32586V385 SX32 Р648УС198,130.0,2691.0,1004.0,135.675676,72.729730,160850.53330,114432.6176,99665.00,0.00,14113.922004,12731.823316,21083.478201
1601,2024-08-01,90841 КамАЗ 4590Е7 Р626УУ198,278.0,1322.0,834.0,231.666667,35.729730,115928.63330,240774.3000,240774.30,21441.70,1553.680114,1864.416136,12088.618490
1602,2024-08-01,90842 КамАЗ 4590Е7 Р625УУ198,105.0,400.5,340.0,94.444444,10.824324,115928.63330,79016.2040,80238.31,17153.36,2408.707213,2677.915666,23478.265780
1603,2024-08-01,93515 Mercedes-Benz-3341 Aсtros Р100ЕА89,150.0,456.6,450.0,41.666667,12.340541,134117.00000,166169.7878,137491.70,205407.36,7402.678415,27530.857232,107149.302260
1604,2024-08-01,94053 Mercedes-Benz-3341 Aсtros О370ВА198,133.0,494.5,465.0,43.055556,13.364865,134117.00000,148474.0288,181059.64,29107.15,2613.354812,8072.737315,28444.866820

In [19]:
df_pivot = pd.pivot_table(
    df,
    index=['period','auto', 'type_ts']
).reset_index()

In [20]:
df_pivot

,period,auto,type_ts,cost_avgspeed,cost_fuel,cost_time_pl,gsm_fact,probeg,remont,rent,salary_probeg,salary_time,time_work_fuel,time_work_putevoy,time_work_speed
0,2024-01-01,106018 УРАЛ 5942 FE ППУА 1600/100 О352ВТ198,Парогенераторы,0.000000,14066.852580,827.461917,48.0,0.00,0.00,48672.000000,0.00,13821.41670,4.705882,80.0,0.000000
1,2024-01-01,106247 УРАЛ 7098Т2 ППУ 1600/100 Р227РТ198,Парогенераторы,0.000000,8850.247398,1398.502466,209.5,0.00,0.00,48145.870835,0.00,64148.09955,20.539216,95.0,0.000000
2,2024-01-01,107159 КамАЗ МК-4546-08 Р641УУ198,Коммунальная техника,16076.057165,4209.514842,1519.719785,336.0,471.50,0.00,58260.050000,103422.17,109690.48700,60.000000,150.0,12.743243
3,2024-01-01,107160 КамАЗ МК-4546-08 Р906УО198,Коммунальная техника,15014.115226,3847.251739,1977.595302,515.0,690.50,0.00,58260.050000,129573.69,129573.69000,91.964286,155.0,18.662162
4,2024-01-01,107163 КамАЗ КО-449 Р931ТР198,Коммунальная техника,14643.256220,4830.790437,1068.561940,384.0,837.00,0.00,96106.708330,205519.20,205519.20000,68.571429,310.0,22.621622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1600,2024-08-01,90721 SHACMAN SX32586V385 SX32 Р648УС198,Самосвалы,5270.869550,3182.955829,3528.480501,251.0,672.75,0.00,40212.633325,24916.25,28608.15440,33.918919,32.5,18.182432
1601,2024-08-01,90841 КамАЗ 4590Е7 Р626УУ198,Самосвалы,12088.618490,1864.416136,1553.680114,834.0,1322.00,21441.70,115928.633300,240774.30,240774.30000,231.666667,278.0,35.729730
1602,2024-08-01,90842 КамАЗ 4590Е7 Р625УУ198,Самосвалы,23478.265780,2677.915666,2408.707213,340.0,400.50,17153.36,115928.633300,80238.31,79016.20400,94.444444,105.0,10.824324
1603,2024-08-01,93515 Mercedes-Benz-3341 Aсtros Р100ЕА89,Самосвалы,53574.651130,13765.428616,3701.339208,225.0,228.30,102703.68,67058.500000,68745.85,83084.89390,20.833333,75.0,6.170270
1604,2024-08-01,94053 Mercedes-Benz-3341 Aсtros О370ВА198,Самосвалы,28444.866820,8072.737315,2613.354812,465.0,494.50,29107.15,134117.000000,181059.64,148474.02880,43.055556,133.0,13.364865

In [21]:
unique_type_ts = list(df['type_ts'].unique())

In [22]:
unique_type_ts

['Легковой а/м',
 'Самосвалы',
 'Автофургоны',
 'Автоцистерны',
 'ДЭС',
 'Коммунальная техника',
 'Автобусы',
 'Погрузчики',
 'Мотопомпа',
 'Парогенераторы',
 'Строительная техника',
 'Болотоход',
 'Тягачи',
 'Бортовой автомобиль']

In [23]:
for i in unique_type_ts:
    print(i)

Легковой а/м
Самосвалы
Автофургоны
Автоцистерны
ДЭС
Коммунальная техника
Автобусы
Погрузчики
Мотопомпа
Парогенераторы
Строительная техника
Болотоход
Тягачи
Бортовой автомобиль

*Самосвалы

In [24]:
df_samosval = df[df['type_ts'] == unique_type_ts[1]]

In [25]:
df_samosval

,period,auto,type_ts,time_work_putevoy,probeg,gsm_fact,time_work_fuel,time_work_speed,rent,salary_time,salary_probeg,remont,cost_time_pl,cost_avgspeed,cost_fuel
1,2024-01-01,90721 SHACMAN SX32586V385 SX32 Р648УС198,Самосвалы,70.0,4.0,22.00,2.972973,1.000000,160850.533300,0.0000,0.00,0.000,2322.114109,162547.987600,54675.232200
7,2024-01-01,90029 УРАЛ 583100 А670УС89,Самосвалы,110.0,70.0,37.00,5.000000,1.891892,456.323846,46900.9650,10439.01,18240.425,622.295667,16909.300410,13690.504670
47,2024-01-01,118110 КамАЗ-56774-22 О030ВТ198,Самосвалы,80.0,1943.0,575.18,159.772222,52.513514,51591.000000,44172.3960,86033.45,0.000,1751.782086,3465.843527,877.139749
48,2024-01-01,90842 КамАЗ 4590Е7 Р625УУ198,Самосвалы,130.0,694.0,484.00,134.444444,18.756757,115928.633300,159466.3400,159466.34,0.000,2405.684367,16673.403180,2326.157611
57,2024-01-01,118111 КамАЗ-56774-22 Р560РН198,Самосвалы,70.0,4088.0,1315.45,365.402778,110.486486,52981.000000,48413.1200,48413.12,0.000,2898.433044,1836.336004,555.251151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2868,2024-08-01,90278 УРАЛ 583100 Р276МВ198,Самосвалы,40.0,6.0,24.00,3.243243,1.000000,0.000000,15243.3596,481.77,0.000,381.083990,481.770000,4700.035877
2891,2024-08-01,93515 Mercedes-Benz-3341 Aсtros Р100ЕА89,Самосвалы,79.0,319.5,255.00,23.611111,8.635135,0.000000,87292.9600,87292.96,102703.680,2692.162049,24629.701630,9007.657492
2892,2024-08-01,118110 КамАЗ-56774-22 О030ВТ198,Самосвалы,205.0,759.5,739.00,205.277778,20.527027,0.000000,153384.3960,152162.29,12904.000,1038.870190,10315.487130,1037.464412
2893,2024-08-01,90842 КамАЗ 4590Е7 Р625УУ198,Самосвалы,105.0,400.5,340.00,94.444444,10.824324,115928.633300,79016.2040,80238.31,17153.360,2408.707213,23478.265780,2677.915666
2935,2024-08-01,118111 КамАЗ-56774-22 Р560РН198,Самосвалы,80.0,356.0,195.00,54.166667,9.621622,0.000000,50350.2090,21238.77,112087.155,2218.537270,15420.637850,3276.608891